.app {
  position: absolute;
  inset: 0;

  > .playground {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    > .person {
      position: absolute;
      aspect-ratio: 1;
      width: 10%;
      background: url(../public/img/stop.gif) no-repeat center center / cover;
      transform: translate(-50%, -50%);
    }
  }
}
